<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">City</li>
    <li class="breadcrumb-item active" [innerText]="pageTitle??'Edit'" [attr.aria-current]="pageTitle??'Edit'"></li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">City Management</h4>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-5 h-100">
  <div class="align-middle w-50 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div>
            <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label">City Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" formControlName="name"
                         [ngClass]="{'is-invalid': (isSubmitted && form.name?.errors)||(errors?.name)}"
                         placeholder="Enter City Name">
                  <div *ngIf="isSubmitted && form.name.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                  <div *ngIf="isSubmitted && form.name.errors?.minlength" class="invalid-feedback">
                    Name must be at least 4 characters long.
                  </div>
                  <div *ngFor="let error of errors?.name" class="invalid-feedback">{{error}}</div>
                </div>

              </div>

              <!--Select Dropdown-->
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Governorate</label>
                <div class="col-sm-9">
                  <select
                    [ngClass]="{'is-invalid': (isSubmitted && form.governorate_id?.errors)||(errors?.governorate_id)}"
                    class="form-control" formControlName="governorate_id">
                    <option *ngFor="let governorate of governorates"
                            [ngValue]="governorate.id">{{governorate.name}}</option>
                  </select>

                </div>
              </div>

              <div *ngIf="isSubmitted && form.governorate_id.errors?.required" class="invalid-feedback">Required</div>
              <div *ngFor="let error of errors?.governorate_id" class="invalid-feedback">{{error}}</div>
              <!--End Select Dropdown-->
              <div class="text-end">
                <button type="submit" class="btn btn-primary px-5">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
