<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Governorate</li>
    <li class="breadcrumb-item active" [innerText]="pageTitle??'Edit'" [attr.aria-current]="pageTitle??'Edit'"></li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <h4 class="card-header">Governorate Management</h4>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-5 h-100">
  <div class="align-middle w-50 grid-margin">
    <div class="row mt-2">
      <div>
        <form [formGroup]="governorateForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Governorate Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" formControlName="name"
                [ngClass]="{'is-invalid': (isSubmitted && form.name?.errors)||(errors?.name)}" placeholder="Enter Governorate Name">
              <div *ngIf="isSubmitted && form.name.errors?.required" class="invalid-feedback">
                Required
              </div>
              <div *ngIf="isSubmitted && form.name.errors?.minlength" class="invalid-feedback">
                Name must be at least 4 characters long.
              </div>
              <div *ngFor="let error of errors?.name" class="invalid-feedback">{{error}}</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary px-5">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>