<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">All</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Products Management</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">

        <table class="table table-bordered table-hover mb-0 text-nowrap">
          <thead>
          <tr>
            <th class="text-center text-uppercase">#</th>
            <th class="text-center text-uppercase">Name</th>
            <th class="text-center text-uppercase">Cities</th>
            <th class="text-center text-uppercase" colspan="2">Control</th>
          </tr>
          </thead>
          <tbody>

          <ng-container
            *ngFor="let governorate of governorates;let index=index; trackBy:trackById">
            <tr>
              <td class="text-center text-lg text-medium">{{index + 1}}</td>
              <td><h5 class="font-weight-bold text-uppercase">{{governorate.name}}</h5></td>
              <td class="text-center">
                <button class="btn btn-info" (click)="openLgModal(cities)">CITIES</button>
              </td>
              <td class="text-center" colspan="2">
                <button class="btn btn-primary mx-2" (click)="openVerticalCenteredModal(editGovernorate)">
                  EDIT
                </button>
                <button class="btn btn-danger" (click)="openVerticalCenteredModal(deleteGovernorateConfirm)">DELETE
                </button>
              </td>
              <!-- Delete governorate confirm-->
              <ng-template #deleteGovernorateConfirm let-modal>
                <div class="modal-header">
                  <h5 class="modal-title">Confirm Delete</h5>
                  <button type="button" class="btn-close" (click)="modal.close({confirm:false})"></button>
                </div>
                <div class="modal-body"><p>Are you sure ?</p></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="modal.close({confirm:true,id:governorate.id})">
                    CONFIRM
                  </button>
                  <button type="button" class="btn btn-secondary" (click)="modal.close({confirm:false})">Close</button>
                </div>
              </ng-template>
              <!--end delete governorate confirm-->

              <!--start edit governorate modal-->
              <ng-template #editGovernorate let-modal>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                  <button type="button" class="btn-close" (click)="modal.close({confirm:false})"></button>
                </div>
                <div class="modal-body"><p>Are you sure ?</p></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="modal.close({confirm:true,id:governorate.id})">
                    CONFIRM
                  </button>
                  <button type="button" class="btn btn-secondary" (click)="modal.close({confirm:false})">Close</button>
                </div>
              </ng-template>
              <!-- End edit modal-->

              <!--  Cities Modal -->
              <ng-template #cities let-modal>
                <div class="modal-header">
                  <h5 class="modal-title">{{governorate.name}}/ Cities</h5>
                  <button type="button" class="btn-close" (click)="modal.close()"></button>
                </div>
                <div class="modal-body">
                  <app-cities [governorate]="governorate"></app-cities>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
                </div>
              </ng-template>

            </tr>
          </ng-container>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

