
  <h2>{{governorate.name}}</h2>
  <table class="table table-bordered table-hover mb-0 text-nowrap">
    <thead>
    <tr>
      <th class="text-center text-uppercase">#</th>
      <th class="text-center text-uppercase">Name</th>
      <th class="text-center text-uppercase" colspan="2">Control</th>
    </tr>
    </thead>
    <tbody>
    <ng-container
      *ngFor="let city of governorate.cities;let index=index; trackBy:trackById">
      <tr>
        <td class="text-center text-lg text-medium">{{index}}</td>
        <td><h5 class="font-weight-bold text-uppercase">{{city.name}}</h5></td>
        <td class="text-center">
            <button class="btn btn-primary mx-1" (click)="openVerticalCenteredModal(editCity)">EDIT</button>
            <button class="btn btn-danger" (click)="openVerticalCenteredModal(deleteCityConfirm)">DELETE</button>
        </td>
      </tr>
<!--      Delete City Confirm Modal -->
      <ng-template #deleteCityConfirm let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" (click)="modal.close({confirm:false})"></button>
        </div>
        <div class="modal-body"><p>Are you sure ?</p></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close({confirm:true,id:governorate.id})">CONFIRM</button>
          <button type="button" class="btn btn-secondary" (click)="modal.close({confirm:false})">Close</button>
        </div>
      </ng-template>

      <ng-template #editCity let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Product Details</h5>
          <button type="button" class="btn-close" (click)="modal.close({confirm:false})"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>{{governorate.name}}</h2>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" (click)="modal.close()" routerLink="{{governorate.id}}">Item Orders</a>
          <button type="button" class="btn btn-dark" (click)="modal.close()">Close</button>
        </div>
      </ng-template>
    </ng-container>
    </tbody>
  </table>
  <!--                  end cities-->


