
  <table class="table table-bordered table-hover mb-0 text-nowrap">
    <thead>
    <tr>
      <th class="text-center text-uppercase">#</th>
      <th class="text-center text-uppercase">Name</th>
      <th class="text-center text-uppercase" colspan="2">Control</th>
    </tr>
    </thead>
    <tbody>
    <ng-container
      *ngFor="let city of cities;let index=index; trackBy:trackById">
      <tr>
        <td class="text-center text-lg text-medium">{{index+1}}</td>
        <td><h5 class="font-weight-bold text-uppercase">{{city.name}}</h5></td>
        <td class="text-center">
            <a class="btn btn-outline-success mx-1" routerLink="/city/{{city.id}}/edit"><i data-feather="edit" appFeatherIcon></i>Edit</a>
            <button class="btn btn-outline-danger" (click)="openVerticalCenteredModal(deleteCityConfirm)"><i data-feather="trash-2" appFeatherIcon></i>Delete</button>
        </td>
      </tr>
<!--      Delete City Confirm Modal -->
      <ng-template #deleteCityConfirm let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" (click)="modal.close({confirm:false})"></button>
        </div>
        <div class="modal-body"><p>Are you sure ?</p></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close({confirm:true,index:index,id:city.id,governorate_id:city.governorate_id})">CONFIRM</button>
          <button type="button" class="btn btn-secondary" (click)="modal.close({confirm:false})">Close</button>
        </div>
      </ng-template>

    </ng-container>
    </tbody>
  </table>
  <!--                  end cities-->


