<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Unfululfilled Orders</h6>
        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (page)="setPage($event)"
          >
            <ngx-datatable-column name="Item ID" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Order ID" prop="order_id"></ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Product ID" prop="product_id"></ngx-datatable-column>
            <ngx-datatable-column name="Price" prop="price">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantity" prop="quantity"></ngx-datatable-column>
            <ngx-datatable-column name="Picked" prop="picked">
              <ng-template ngx-datatable-cell-template let-picked="row.picked">
                <span *ngIf="picked" class="badge bg-success">Picked</span>
                <span *ngIf="!picked" class="badge bg-danger">Unpicked</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="id">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"et-row="row">
                      <button type="button" class="btn btn-outline-primary btn-icon-text" (click)='setFulfilled(value)'><i class="feather icon-check-square btn-icon-prepend"></i> Set Fulfilled</button>
                    </ng-template>
             </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
