<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Processing Orders</h6>
        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (page)="setPage($event)"
          >
            <ngx-datatable-column name="Order ID" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Shipping company ID" prop="shipping_company_id"></ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
            <ngx-datatable-column name="Options" prop="id">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"et-row="row">
                      <a type="button" class="btn btn-outline-primary btn-icon-text"  routerLink="/orders/{{value}}"><i class="feather icon-layers btn-icon-prepend"></i> Details</a>
                    </ng-template>
             </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
