<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/sellers/listing">Sellers</a></li>
    <li class="breadcrumb-item active" aria-current="page">All</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Admins Management</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            rowHeight="auto"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (page)="setPage($event)"
          >
            <ngx-datatable-column name="Seller ID" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Seller Name" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Joined at" prop="created_at">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Active" prop="active">
              <ng-template ngx-datatable-cell-template let-active="row.active">
                <span *ngIf="active" class="badge bg-success">Active</span>
                <span *ngIf="!active" class="badge bg-danger">Deactivated</span></ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Unfulfilled" prop="id">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                <a type="button" class="btn btn-outline-primary btn-icon-text"
                   routerLink="/orders/unfulfilled/{{value}}">Unfulfilled</a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Fulfilled" prop="id">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                <a type="button" class="btn btn-outline-primary btn-icon-text" routerLink="/orders/fulfilled/{{value}}">Fulfilled</a>
              </ng-template>
            </ngx-datatable-column>

            <!-- Activation buttons -->
            <ngx-datatable-column name="Actions" prop="id">
              <ng-template ngx-datatable-cell-template let-value="row.id" let-status="row.active">
                <button [class.btn-outline-danger]="status" [class.btn-outline-success]="!status" type="button"
                        class="btn btn-outline-danger btn-icon-text"
                        (click)="openBasicModal(basicModal, value)">
                  <i class="feather icon-check-square btn-icon-prepend"></i>
                  {{ ( status ? 'Deactivate' : 'Activate')}}
                </button>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                <button *ngIf="value == false" type="button" class="btn btn-outline-primary btn-icon-text"
                        (click)="openBasicModal(basicModal, value)"><i
                  class="feather icon-check-square btn-icon-prepend"></i>Activate
                </button>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Status Change Confirmation</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Are You Sure?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('by: save button')">Save changes</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
  </div>
</ng-template>
<!-- Close result -->
<p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>
